<div>


<a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" style="color: black; z-index: 999;"></a>
    <a href="javascript:void(0);" class="bars" style="content: ' \25CF'; color: white;  position: relative !important; z-index: 999;"></a>
    <section>
        <!-- Left Sidebar -->
        
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image" style="margin-bottom: 0px; float: right;">
                    <img src="../../../assets/images/new-images/profile-male.jpg" width="78" height="78" alt="User" />
                </div>
                <div class="info-container" style="margin-top:50px; margin-right: 0px !important;">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Michael C.</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu --> 
            <div class="menu" style="background-color: rgb(43, 43, 43);">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="navbar-li-class">
                        <a href="../../index.html">
                            <i class="material-icons">home</i>
                            <span style="" >Home</span>
                        </a>
                    </li>
                    <li class="navbar-li-class">
                        <a href="../../pages/typography.html">
                            <i class="material-icons">person</i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li class="navbar-li-class">
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">analytics</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="navbar-li-class">
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">bookmark</i>
                            <span>Wishlist</span>
                        </a>
                    </li>
                    <li class="navbar-li-class">
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">logout</i>
                            <span>Logout</span>
                        </a>
                    </li>
                    <li class="header">HELP</li>
                    <li class="navbar-li-class">
                        <a href="../../pages/typography.html">
                            <i class="material-icons">person</i>
                            <span>FAQs</span>
                        </a>
                    </li>
                    <li class="navbar-li-class">
                        <a href="../../index.html">
                            <i class="material-icons">question_answer</i>
                            <span style="" >Contact Us</span>
                        </a>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

<section class="content" style="top: 0px; margin-top: 10px;">
    <div class="container-fluid" style="top: 0px;">
        <div class=""></div>
        <div class="row clearfix">
            <!-- Line Chart -->
            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 100%;">
                <div class="card" style="padding-left: 15px; padding-top: 2px; padding-bottom: 10px;">
                    <h2>Your orders</h2>
                </div>
            </div> -->
            <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Your Orders
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="dt-buttons">
                                </div>
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">

                                <thead>
                                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 127px;">Order ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Office: activate to sort column ascending" style="width: 90px;">Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Position: activate to sort column ascending" style="width: 210px;">Stock Ticker</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Office: activate to sort column ascending" style="width: 90px;">Price</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Office: activate to sort column ascending" style="width: 90px;">Buy/Sell</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Age: activate to sort column ascending" style="width: 39px;">Volume</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Start date: activate to sort column ascending" style="width: 84px;">Status Code</th>

                                </thead>
                                
                                <tbody>
                                <tr role="row" class="odd" *ngFor="let order of orderList">
                                        <td class="sorting_1">{{ order.orderId}}</td>
                                        <td> {{order.currentTime}}</td>
                                        <td>{{ order.stockTicker }}</td>
                                        <td>{{ order.price}}</td>
                                        <td> {{ order.buyOrSell }}</td>
                                        <td>{{ order.volume }}</td>
                                        <td> {{ order.statusCode}}</td>

                                    </tr></tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
    </div>
</section>

</div>