<div style="top: 0px;">
    
    
    <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" style="color: black; z-index: 999;"></a>
    <a href="javascript:void(0);" class="bars" style="content: ' \25CF'; color: white;  position: relative !important; z-index: 999;"></a>
    <section>
        <!-- Left Sidebar -->
        
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image" style="margin-bottom: 0px; float: right;">
                    <img src="../assets/images/new-images/profile-male.jpg" width="78" height="78" alt="User" />
                </div>
                <div class="info-container" style="margin-top:50px; margin-right: 0px !important;">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Michael C.</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu --> 
            <div class="menu" style="background-color: rgb(43, 43, 43);">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="navbar-li-class">
                        <a href="../../index.html">
                            <i class="material-icons">home</i>
                            <span style="" >Home</span>
                        </a>
                    </li>
                    <li class="navbar-li-class">
                        <a href="../../pages/typography.html">
                            <i class="material-icons">person</i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li class="navbar-li-class">
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">analytics</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="navbar-li-class">
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">bookmark</i>
                            <span>Wishlist</span>
                        </a>
                    </li>
                    <li class="navbar-li-class">
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">logout</i>
                            <span>Logout</span>
                        </a>
                    </li>
                    <li class="header">HELP</li>
                    <li class="navbar-li-class">
                        <a href="../../pages/typography.html">
                            <i class="material-icons">person</i>
                            <span>FAQs</span>
                        </a>
                    </li>
                    <li class="navbar-li-class">
                        <a href="../../index.html">
                            <i class="material-icons">question_answer</i>
                            <span style="" >Contact Us</span>
                        </a>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <!-- <div class="legal">
                <div class="copyright" style="color: white;">
                    &copy; 2021-2022 <a href="javascript:void(0);">Stock Trading App</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div> -->
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content" style="top: 0px; margin-top: 10px;">
        <div class="container-fluid" style="top: 0px;">
            /<div class=""></div>
            
            <div class="row clearfix">
                <!-- Profile Info -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 100%;">
                    <div class="card profile-card">
                        <div class="profile-header">&nbsp;</div>
                        <div class="profile-body">
                            <div class="image-area">
                                <img src="../assets/images/new-images/profile-male.jpg" style="object-fit: contain;" width="250px" alt="AdminBSB - Profile Image" />
                            </div>
                            <div class="content-area">
                                <h3>Michael C.</h3>
                                <p>User Id:01</p>
                            </div>
                        </div>
                        <div class="profile-footer">
                            <ul>
                                <li>
                                    <span>Email Address</span>
                                    <span>michael@example.com</span>
                                </li>
                                <li>
                                    <span>Contact No.</span>
                                    <span>+(524) 984581</span>
                                </li>
                                <li>
                                    <span>Gender</span>
                                    <span>Male</span>
                                </li>
                                <li>
                                    <span>Address</span>
                                    <span>24/1 , Random street, Mumbai, India &nbsp; PIN: 015100 &nbsp; </span>
                                </li>
                                <li>
                                    <span>Date Of Birth</span>
                                    <span>1999/02/25</span>
                                </li>
                            </ul>
                            <!-- <button class="btn btn-primary btn-lg waves-effect btn-block">FOLLOW</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <!-- Account Details -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 100%;">
                    <div class="card card-about-me">
                        <div class="header">
                            <h2>ACCOUNT DETAILS</h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="title">
                                        <!-- <i class="material-icons">library_books</i> -->
                                        Account Number
                                    </div>
                                    <div class="content">
                                      846216554
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <!-- <i class="material-icons">location_on</i> -->
                                        Pancard 
                                    </div>
                                    <div class="content">
                                        afaf54654
                                    </div>
                                </li>
                                <li>
                                    <div class="title" >
                                        <!-- <i class="material-icons">edit</i> -->
                                       Wallet Balance
                                    </div>
                                    <div class="content" >
                                        <span class="label bg-red">$56</span>
                                        <!-- <span class="label bg-teal">JavaScript</span>
                                        <span class="label bg-blue">PHP</span>
                                        <span class="label bg-amber">Node.js</span> -->
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <!-- <i class="material-icons">notes</i> -->
                                        Portfolio
                                    </div>
                                    <div class="content">
                                        <span class="label bg-blue">$552</span>
                                       
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    

</div>