
<div class="search">
    <video autoplay muted loop id="myVideo">
        <source src="https://thumbs.gfycat.com/BitesizedDesertedBallpython-mobile.mp4" type="video/mp4">
      </video>
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <!-- <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div> -->
        

    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <!-- <nav class="navbar"> -->
    <div class="container-fluid" style="margin-top: 2%; margin-left: 2%; margin-bottom:2%;">

        <div class="container-fluid" style="margin-top: 2%; margin-left: 2%;">
            <button type="button"  style="margin-top: 2%; float: right; margin-right: 2%; width:10%; height:20%; color: white; align-items: center; justify-content: center; border-radius: 10px; border: white; border-width: 30px;" class="btn bg-index-card waves-effect waves-white header form-class"><h2 style="font-size: 23px; ">Login</h2></button>
        </div>
        <img src="..\..\images\logo.png" style="width: 4%;">

    </div>
    <!-- </nav> -->
    <!-- #Top Bar -->
    <section>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <!-- <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <ul class="demo-choose-skin">
                        <li data-theme="red" class="active">
                            <div class="red"></div>
                            <span>Red</span>
                        </li>
                        <li data-theme="pink">
                            <div class="pink"></div>
                            <span>Pink</span>
                        </li>
                        <li data-theme="purple">
                            <div class="purple"></div>
                            <span>Purple</span>
                        </li>
                        <li data-theme="deep-purple">
                            <div class="deep-purple"></div>
                            <span>Deep Purple</span>
                        </li>
                        <li data-theme="indigo">
                            <div class="indigo"></div>
                            <span>Indigo</span>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                            <span>Blue</span>
                        </li>
                        <li data-theme="light-blue">
                            <div class="light-blue"></div>
                            <span>Light Blue</span>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                            <span>Cyan</span>
                        </li>
                        <li data-theme="teal">
                            <div class="teal"></div>
                            <span>Teal</span>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                            <span>Green</span>
                        </li>
                        <li data-theme="light-green">
                            <div class="light-green"></div>
                            <span>Light Green</span>
                        </li>
                        <li data-theme="lime">
                            <div class="lime"></div>
                            <span>Lime</span>
                        </li>
                        <li data-theme="yellow">
                            <div class="yellow"></div>
                            <span>Yellow</span>
                        </li>
                        <li data-theme="amber">
                            <div class="amber"></div>
                            <span>Amber</span>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                            <span>Orange</span>
                        </li>
                        <li data-theme="deep-orange">
                            <div class="deep-orange"></div>
                            <span>Deep Orange</span>
                        </li>
                        <li data-theme="brown">
                            <div class="brown"></div>
                            <span>Brown</span>
                        </li>
                        <li data-theme="grey">
                            <div class="grey"></div>
                            <span>Grey</span>
                        </li>
                        <li data-theme="blue-grey">
                            <div class="blue-grey"></div>
                            <span>Blue Grey</span>
                        </li>
                        <li data-theme="black">
                            <div class="black"></div>
                            <span>Black</span>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content-center">
        <div class="container-fluid">
            <div class="block-header" style="margin-left: 25%; margin-bottom:5%;">
                <form class="form-class bg-index-card waves-effect waves-white" style="margin-top: 2%; width: 50%; padding-left:3%; margin-left:0px !important;">
                    <!-- <input type="search" id="query" name="q" placeholder="Search...bbbb"
                        aria-label="Search through site content" class="input-class header bg-index-class">
                     -->
                        <mat-form-field style="width:100%;">
                            <input type="text" style="width: 100%;" class="input-class header bg-index-class" (keyup)="getVal($event)" matInput [matAutocomplete]="auto" >
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getCompany($event.option.value)'>
                                <mat-option *ngFor="let option of options" [value]='option["1. symbol"]'>
                                    {{ option["1. symbol"] }}  {{ option["2. name"] }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <button class="button-class">
                        <svg class="svg-class" viewBox="0 0 1024 1024">
                            <path class="path1"
                                d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                            </path>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="row" style="width: 100%; margin-top: 5%; justify-content: center; align-items: center;">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card-enlarge">
                        <div class="header bg-index-card waves-effect" style="padding: 0%; margin-top: 0px; justify-content: center;">
                            <div class="container-fluid">
                            <ul class="header-dropdown m-r--5">
                                <li style="margin-top: 0px;">
                                    
                                    <div style="color: white; margin-top: 0px;">
                                        20 
                                    </div>
                                    <div style="color: white;">
                                        20 
                                    </div>
                                </li>
                            </ul>
                            <h2 style="font-size: 30px; color: white;">
                                Sensex <small></small>
                            </h2>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card-enlarge">
                        <div class="header bg-index-card waves-effect" style="padding: 0%; margin-top: 0px; justify-content: center;">
                            <div class="container-fluid">
                            <ul class="header-dropdown m-r--5">
                                <li style="margin-top: 0px;">
                                    
                                    <div style="color: white; margin-top: 0px;">
                                        20 
                                    </div>
                                    <div style="color: white;">
                                        20 
                                    </div>
                                </li>
                            </ul>
                            <h2 style="font-size: 30px; color: white;">
                                Sensex <small></small>
                            </h2>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card-enlarge">
                        <div class="header bg-index-card waves-effect" style="padding: 0%; margin-top: 0px; justify-content: center;">
                            <div class="container-fluid">
                            <ul class="header-dropdown m-r--5">
                                <li style="margin-top: 0px;">
                                    
                                    <div style="color: white; margin-top: 0px;">
                                        20 
                                    </div>
                                    <div style="color: white;">
                                        20 
                                    </div>
                                </li>
                            </ul>
                            <h2 style="font-size: 30px; color: white;">
                                Sensex <small></small>
                            </h2>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row" style="width: 100%; justify-content: center; align-items: center;">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card-enlarge">
                        <div class="header bg-index-card waves-effect" style="padding: 0%; margin-top: 0px; justify-content: center;">
                            <div class="container-fluid">
                            <ul class="header-dropdown m-r--5">
                                <li style="margin-top: 0px;">
                                    
                                    <div style="color: white; margin-top: 0px;">
                                        20 
                                    </div>
                                    <div style="color: white;">
                                        20 
                                    </div>
                                </li>
                            </ul>
                            <h2 style="font-size: 30px; color: white;">
                                Sensex <small></small>
                            </h2>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card-enlarge">
                        <div class="header bg-index-card waves-effect" style="padding: 0%; margin-top: 0px; justify-content: center;">
                            <div class="container-fluid">
                            <ul class="header-dropdown m-r--5">
                                <li style="margin-top: 0px;">
                                    
                                    <div style="color: white; margin-top: 0px;">
                                        20 
                                    </div>
                                    <div style="color: white;">
                                        20 
                                    </div>
                                </li>
                            </ul>
                            <h2 style="font-size: 30px; color: white;">
                                Sensex <small></small>
                            </h2>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card-enlarge">
                        <div class="header bg-index-card waves-effect" style="padding: 0%; margin-top: 0px; justify-content: center;">
                            <div class="container-fluid">
                            <ul class="header-dropdown m-r--5">
                                <li style="margin-top: 0px;">
                                    
                                    <div style="color: white; margin-top: 0px;">
                                        20 
                                    </div>
                                    <div style="color: white;">
                                        20 
                                    </div>
                                </li>
                            </ul>
                            <h2 style="font-size: 30px; color: white;">
                                Sensex <small></small>
                            </h2>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </section>
</div>